header button {
    height: 35px;
    width: 90px;
    font-weight: 600;
    background-color: #fff;
    color: var(--color-blue-100);
    border: 1px solid var(--color-blue-100);
}

.go-register-btn {
    color: #fff;
    background-color: var(--color-blue-100);
}

.home-photo {
    width: 100%;
}

.home-photo-wrapper {
    overflow: hidden;
    width: 25%;
}

.btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    .home-photo-wrapper {
        display: none;
    }

    .login-register-box button {
        height: 25px;
    }

    .login-register-box {
        display: none;
    }

    .active {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        gap: 15px;
        height: 46px;
        top: 50px;
        left: 0px;
    }

    .active button {
        height: 35px;
        width: 120px;
        border: 1px solid var(--color-blue-100);
        font-weight: bold;
        background-color: #fff;
        color: var(--color-blue-100);
    }

    .active .go-register-btn {
        background-color: var(--color-blue-100);
        color: #fff;
    }

    .btn-mobile {
        display: flex;
        padding: 8px, 16px;
        font-size: 16px;
        border: 1px solid transparent;
        background-color: transparent;
        gap: 8px;
    }

    #hamburger-icon {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger-icon::after,
    #hamburger-icon::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
}